{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Search App</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    {% include 'javascripts.html' %}
    {% include 'stylesheets.html' %}
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <div id="wrapper">
        <h1>SongSearch</h1>
        <br><br>
        <input id="searchInput" ng-model="searchStr" placeholder="search existing songs" type="text" class="ng-valid ng-touched form-control ng-dirty ng-valid-parse">
        <h3>or</h3>
        <br>
        <input id="addSongInput" ng-model="urlToAdd" placeholder="add new song" type="text" class="form-control">
        <br>
        <button type="button" class="btn btn-primary" ng-click="go()">Go</button><br>
        <div id="buttons">
            <button id="allSongs" type="button" class="btn btn-primary" ng-click="getAllSongs()" data-toggle="modal" data-target="#displayAllSongsModal">Display All Songs</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#displayHelpModal">Help</button>
        </div>
        <br><br>
        <div ng-if="loading">
            <img src={% static 'src/images/default.gif' %}>
        </div>
    </div>

    <div id="main">

        <div ng-repeat="result in searchResult track by $index">
            <div class='result' id="result{$ result.id $}">


                <h3 data-toggle="modal" data-target="#modalS{$ result.id $}"><a href="#" ng-click="displaySong(result.id, 2)">{$ result.artist $} - {$ result.songName $} </a></h3>
                <span id="text{$ result.id $}"> <p ng-bind-html="result.text | trustAsHtml"></p>  </span></div>


            <div class="modal fade" id="modalS{$ result.id $}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{$ result.artist $} - {$ result.songName $}</h4>
                        </div>
                        <div class="modal-body">
                            <p ng-bind-html="modalPlainText | trustAsHtml"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="displayAllSongsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">All Songs</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="song in allSongs track by $index">
                        <div>
                            <div ng-if="song.is_deleted">
                                <h3 class="deleted">{$ $index+1 $}. {$ song.name $} -  {$ song.artist $}</h3>
                                <button type="button" class="btn btn-info" ng-click="deleteOrRestoreSong(song.id, 'r')">Restore</button><br><br>
                            </div>
                            <div ng-if="!song.is_deleted">
                                <h3>{$ $index+1 $}. {$ song.name $} -  {$ song.artist $}</h3>
                                <button type="button" class="btn btn-primary" ng-click="displaySong(song.id, 1)" data-toggle="modal" data-target="#modal{$ song.id $}">View</button>
                                <button type="button" class="btn btn-danger" ng-click="deleteOrRestoreSong(song.id, 'd')">Delete</button><br><br>
                            </div>

                        </div>

                        <div class="modal fade" id="modal{$ song.id $}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">{$ song.artist $} - {$ song.name $}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p ng-bind-html="modalPlainText | trustAsHtml"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="displayHelpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Help</h4>
                        </div>
                        <div class="modal-body">
                            To add new song, go to <a href="http://www.azlyrics.com/">www.azlyrics.com</a>, copy a song URL and paste it into "Add new song" field.<br>
                            Example URL: http://www.azlyrics.com/lyrics/beatles/yesterday.html.<br>
                            To view all songs, delete or restore a songs press "Display All Songs" button.<br>
                            Search options:<br>
                            Type your query in "search existing songs" field.<br>
                            The query can contains one word, many words, parentaces, and boolean operations: AND, OR, NOT. <br>
                            The use of the boolean operations is with the gollowing format (example): love AND story. <br>
                            The use of brackets is with the following format (example, mind the whitespaces):<br> ( love OR story ) AND ( game ).
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>





</div>

</div>
</body>
</html>