{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Search App</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    {% include 'javascripts.html' %}
    {% include 'stylesheets.html' %}
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <div id="wrapper">
        <h1>SongSearch</h1>
        <br><br>
        <input id="searchInput" ng-model="searchStr" placeholder="search existing songs" type="text" class="ng-valid ng-touched form-control ng-dirty ng-valid-parse">
        <h3>or</h3>
        <br>
        <input id="addSongInput" ng-model="urlToAdd" placeholder="add new song" type="text" class="form-control">
        <br>
        <button type="button" class="btn btn-primary" ng-click="go()">Go</button><br>
        <button type="button" class="btn btn-primary" ng-click="displayAllSongs()" data-toggle="modal" data-target="#displayAllSongsModal">Display All Songs</button>
        <br><br>
        <div ng-if="loading">
            <img src={% static 'src/images/default.gif' %}>
        </div>
    </div>

    <div id="main">

        <div ng-repeat="result in searchResult track by $index">
            <div class='result' id="result{$ result.id $}">


                <h3 data-toggle="modal" data-target="#modal{$ result.id $}"><a href="#" ng-click="displaySong(result.id)">{$ result.artist $} - {$ result.songName $} </a></h3>
                <span id="text{$ result.id $}"> {$ result.text $}  </span></div>


            <div class="modal fade" id="modal{$ result.id $}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{$ result.artist $} - {$ result.songName $}</h4>
                        </div>
                        <div class="modal-body">
                            {$ modalPlainText $}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>







           <div class="modal fade" id="displayAllSongsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">All Songs</h4>
                        </div>
                        <div class="modal-body">
                            All songs here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>








</div>

</div>
</body>
</html>