{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Search App</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    {% include 'javascripts.html' %}
    {% include 'stylesheets.html' %}
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <div id="wrapper">
        <h1>SongSearch</h1>
        <br><br>
        <input id="searchInput" ng-model="searchStr" placeholder="search existing songs" type="text" class="ng-valid ng-touched form-control ng-dirty ng-valid-parse">
        <h3>or</h3>
        <br>
        <input id="addSongInput"  ng-model="urlToAdd" placeholder="add new song" type="text" class="form-control">
        <br>
        <button type="button" class="btn btn-primary" ng-click="go()">Go</button>
        <br><br>
        <div ng-if="loading">
            <img src={% static 'src/images/default.gif' %}>
        </div>
    </div>

    <h2 id="resultsHeadline"></h2>
    <div id="results"></div>



</div>
</body>
</html>